{
    "presets": ["babel-preset-expo"],
    "env": {
        "development": {
            "plugins": ["transform-react-jsx-source"]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./application"],
                "alias": {
                    "@actions": "./application/actions",
                    "@components": "./application/components",
                    "@screens": "./application/screens",
                    "@reducers": "./application/reducers",
                    "@utils": "./application/utils",
                    "@colors": "./application/utils/colors.js",
                    "@styles": "./application/utils/styles.js",
                    "@helper": "./application/utils/helper.js"
                }
            }
        ]
    ]
}
